.card-1 {
  border-top: 5px solid #ff4f64;
  width: 20vw;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */

.bg-card {
  background-color: #f4faff;
  height: 100vh;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-style: none;
}
.heading {
  color: #171f46;
  font-size: 22px;
  text-align: start;
  padding-left: 10px;
}
.para {
  text-align: start;
  font-size: 12px;
  padding-left: 10px;
}
.profile-card {
  height: 35vh;
  width: 35vw;
  border-radius: 10px;
  background-color: white;
}
.img {
  height: 30px;
  width: 30px;
  padding: 10px;
}
.image {
  display: flex;
  justify-content: flex-end;
}
